<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="basic/favicon.ico">
    <link href="basic/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/index.css" rel="stylesheet">
    <script src="../static/js/jquery.min.js"></script>
</head>

<body>
<div class="container">
    <table class="table table-striped table-hover">
        <thead>
        <td>序号</td>
        <td>翻译</td>
        <td>音标</td>
        <td>单词</td>
        <td>翻牌</td>
        </thead>
        <tbody>

        <tr>
            <td>1</td>
            <td>n.目录，目录册</td>
            <td>‘kætəlɔg</td>
            <td>
                <div class='word line1'>catalog</div>
            </td>
            <td>
                <button class='show' line='line1'>查看</button>
            </td>
        </tr>

        <tr>
            <td>2</td>
            <td>a.不真实的；伪造的</td>
            <td>fɔ:ls</td>
            <td>
                <div class='word line2'>false</div>
            </td>
            <td>
                <button class='show' line='line2'>查看</button>
            </td>
        </tr>

        </tbody>
    </table>
</div>
</body>
<script>
    $("button").click(function () {
        var word = $("." + $(this).attr('line'));
        if (word.is(':visible')) {
            word.slideUp();
        } else {
            word.slideDown();
        }

    });
</script>

</html>